@import '../../../vars.scss';

.button {
	cursor: pointer;
	border: 2px solid $secondary-color;
	border-radius: 8px;
	background-color: Transparent;
	transition: 0.5s;
	height: 30px;
	width: 50%;

	&:hover {
		background-color: $secondary-color;
		color: $background-color;
	}

	&--small {
	}

	&--large {
	}
}
