@import '../../../vars.scss';

.button {
	cursor: pointer;
	border: 2px solid $secondary-color;
	border-radius: 8px;
	background-color: Transparent;
	height: 100%;

	&:hover {
		transform: scale(1.08);
	}

	&--small {
	}

	&--large {
	}
}
