@import '../../../vars.scss';

.button {
	cursor: pointer;
	border: 2px solid $secondary-color;
	border-radius: 50px;
	background-color: Transparent;
	transition: 0.5s;
	height: 30px;
	padding: 0.9em 0;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: $secondary-color;
		color: $background-color;
	}

	&-link {
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
