.register {
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__redirect {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.form {
	&__submit {
		width: 12em;
		margin-top: 0.8em;
	}
	&__error {
		color: red;
	}
}

.redirect {
	&__button {
		width: 12em;
	}
}

.input {
	&__requirement {
		font-size: 0.7em;
		text-align: center;
	}
}
