@import '../../../vars.scss';

.play {
	padding: 5rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.snap {
	&__details {
		margin-bottom: 1.5%;
		display: flex;
		justify-content: space-between;
		text-align: justify;
	}
	&__image {
		display: flex;
		border: 1px solid $secondary-color;
		background-color: #000000;

		img {
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__vote {
		display: flex;
		justify-content: center;
		margin: 3% 0;
		color: $secondary-color;
		font-size: 2em;
		unicode-bidi: bidi-override;
		direction: rtl;

		span {
			padding: 0 0.1em;

			&:hover:before {
				content: '\2605';
				position: absolute;
			}

			&:hover ~ :before {
				content: '\2605';
				position: absolute;
			}
		}
	}

	&__interactions {
		display: flex;
		justify-content: space-between;
	}
}

.details {
	&__separator {
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: $secondary-color;
	}
}

.interactions {
	&__like {
		margin-right: 2em;
	}
	&__like,
	&__report {
		transition: 0.5s;
		&:hover {
			fill: $secondary-color;
		}
	}

	&__guess {
		display: flex;
		justify-content: space-between;
		border: 1px solid red;

		form {
			display: flex;
			padding: 2px;
			border: 2px solid $secondary-color;
			border-radius: 50px;
			box-shadow: 0 0 1px 0px $secondary-color inset, 0 0 1px 0px $secondary-color;
			height: 35px;
		}

		input {
			background-color: transparent;
			flex-grow: 2;
			margin-left: 0;
			border: none;
			color: $secondary-color;
			width: 250px;
			padding-left: 10px;

			&:focus {
				outline: none;
			}
		}
	}

	&__next {
		margin-left: 1em;
		width: 4em;
	}
}

.guess {
	&__verify {
		background-color: transparent;
		cursor: pointer;
		transition: 0.5s;

		&:hover {
			color: $secondary-color;
		}
	}
}
