@import '../../../vars.scss';

.nav {
	display: flex;
	// position: fixed;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 0 1em;

	&__menu {
		@include desktop {
			order: 1;
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		height: 6rem;
		width: 10rem;
		background-image: url('../../assets/images/logo.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	&__user {
		display: flex;
		align-items: center;
		position: relative;

		@include desktop {
			order: 2;
		}
	}
}

.user {
	&__avatar {
		cursor: pointer;
		width: 60px;
		height: 60px;
		object-fit: cover;
		border: 2px solid $secondary-color;
		border-radius: 50%;
	}
}
