@import './vars.scss';

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: $background-color;
	color: $primary-color;

	main {
		padding: 5rem 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		@include desktop {
			padding: 5rem;
		}
	}

	h1 {
		font-size: 2.5rem;
		line-height: 4.5rem;
		font-weight: bold;
		color: $secondary-color;

		@include tablet {
			font-size: 3.5rem;
			line-height: 3.5rem;
		}

		@include phone {
			font-size: 3rem;
			line-height: 3rem;
		}
	}

	h2 {
		font-size: 2rem;
		line-height: 2.25rem;
		font-weight: bold;
		color: $secondary-color;

		@include tablet {
			font-size: 2rem;
			line-height: 2rem;
		}

		@include phone {
			font-size: 1.75rem;
			line-height: 1.75rem;
		}
	}

	h3 {
		font-size: 1rem;
	}

	h4 {
		font-size: 1rem;
	}

	p {
		font-size: 1.25rem;
		line-height: 1.5rem;
	}

	a {
		text-decoration: none;
	}

	button {
		font-size: 1.125rem;
		outline: none;
		border: none;
		color: $primary-color;
	}

	input {
		font-family: 'Roboto';
		font-size: 1rem;
	}
}
